---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import LinkButton from '@/components/LinkButton.astro';
import Projects from '@/components/Projects.astro';
import ExperienceItem from '@/components/ExperienceItem.astro';
import AnimatedBadge from '@/components/AnimatedBadge.astro';

import BriefcaseIcon from '@/components/icons/Briefcase.astro';
import CodeIcon from '@/components/icons/Code.astro';
import BookIcon from '@/components/icons/Book.astro';

import { YEAR_START_PROGRAMMING, SOCIAL_NETWORKS, LABORAL_EXPERIENCE } from '@/utils/constants';

const devYears = new Date().getFullYear() - YEAR_START_PROGRAMMING
const isLabPage = ['localhost:4321', 'dev.criscandv.com'].includes(Astro.url.host)
---

<Layout title="Portafolio Cristian Cano" description='Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad at, iusto, molestiae, ipsum dolore a vero ullam eos odit vitae nihil. Rem et sunt eos nihil fuga, at voluptate! Ab.'>
	{isLabPage && (
		<div class="flex items-center justify-center mb-3">
			<AnimatedBadge>
				<span class="text-red-500 flex gap-1 place-items-center px-16 py-0.5"  >
					<CodeIcon/>
					Under development
					<CodeIcon/>
				</span>
			</AnimatedBadge>
		</div>
	)}
	<main class="px-4">
		<SectionContainer id="sobre-mi" >
			<h1 class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hola 🙋🏻, soy Cristian Cano <a
					href="https://linkedin.com/in/criscandv"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center hover:scale-105 transition"
				>
					<!-- <Badge>Disponible para trabajar</Badge> -->
				</a>
			</h1>
			<div class="flex flex-col sm:flex-row items-center">
				<div>
					<h2 class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white">
						<span>Tengo +{devYears} años de experiencia como</span>
						<span class="text-red-800 dark:text-red-200">
							Desarrollador fullstack web y móvil.
						</span>
						<span>
							Me encuentro ahora en Barcelona, España.
						</span>
					</h2>

					<div class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1 mt-4">
						<p>
							Como programador, <strong>me he especializado en crear aplicaciones y proyectos</strong>.
							Mi objetivo es <span class="text-sky-800 dark:text-sky-200">crear experiencias web alucinantes en respuesta a la necesidad de las personas.</span>
						</p>
					</div>

					<nav class="flex gap-4 flex-wrap">
						<LinkButton href={SOCIAL_NETWORKS.LINKEDIN.url}>
							{<SOCIAL_NETWORKS.LINKEDIN.icon class="size-4 md:size-6"/>}
							{SOCIAL_NETWORKS.LINKEDIN.name}
						</LinkButton>
						<LinkButton href={SOCIAL_NETWORKS.GITHUB.url}>
							{<SOCIAL_NETWORKS.GITHUB.icon class="size-4 md:size-6"/>}
							{SOCIAL_NETWORKS.GITHUB.name}
						</LinkButton>
						<LinkButton href={`mailto:${SOCIAL_NETWORKS.MAIL.url}`}>
							{<SOCIAL_NETWORKS.MAIL.icon class="size-4 md:size-6"/>}
							{SOCIAL_NETWORKS.MAIL.name}
						</LinkButton>
					</nav>
				</div>
				<div>
					<img
						class="w-96"
						src="/img/criscandv.png"
						alt="cristian cano photo"
					/>
				</div>
			</div>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <BriefcaseIcon class="size-7" />
        Experiencia laboral
      </h2>
			
			<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
				{LABORAL_EXPERIENCE.map(experience => (
					<ExperienceItem {...experience}/>
				))}
			</ol>
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
			<Projects/>
		</SectionContainer>

		<SectionContainer id="blog">
			<h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <BookIcon class="size-7" />
        Ultimo Post
      </h2>
		</SectionContainer>
	</main>
</Layout>